.signin-container {
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -300px;
    /* To move the sign-in box. Minus makes it move upwards. Plus movies it downwards. */
}

.signin-main {
    background-color: #f0f0f0;
    padding: 2rem;
    margin-top: 70px;
}

.signin-form {
    width: 100%;
}

.signin-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.signin-form legend {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.form-group {
    margin-top: 1rem;
}

.form-group label {
    display: block;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0.5rem;
}

.form-group input {
    padding: 0.5rem;
    border: 1px solid #000;
    /* background-color: transparent; */
    width: 100%;
    transition: all 0.3s ease;
    font-size: 20px;
    /* font-size for input*/
}

.form-group input:hover,
.form-group input:focus {
    background-color: #1bb55b;
    color: #fff;
}

.signin-button {
    margin-top: 1.75rem;
}

.signin-button input {
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.signin-button input:hover {
    background-color: #000;
    color: #fff;
}

.register-link {
    margin-top: 1rem;
}

.register-link p {
    font-size: 25px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.register-link p:hover {
    opacity: 0.7;
}