/* Ensure the App div is above the particles */
.App {
  position: relative;
  z-index: 1;
  /* Higher than -1, so it stays on top */
}

.app-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
  /* Ensure content is above particles */
  position: center;
  width: 1100px;
  height: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
  background-color: transparent;
}

/* Position the particles in the background */
.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  /* Ensures it's behind the rest of the content */
}

.center {
  display: flex;
  justify-content: center;
}

.clear-button {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.clear-button:hover {
  background-color: #ff3333;
}